* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 80px;
  background: #fdcc04;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
  color: #500000 ;
  font-size: 3rem;
  font-weight: bold;
  font-style: italic;
  padding: 0 6rem;
}

nav a {
  text-decoration: none;
  color: #500000;
  padding: 0 7rem;
}

nav a:hover {
  color: #fff;
}

.hero {
  background: #fdcc04;
}

.hero-container {
  display: grid;
  grid-template-columns: 6fr 0fr;
  height: 200vh;
  padding: 2rem calc((100vw - 900px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  color: #500000;
  padding: 0rem 3rem;
}

.column-left h1 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 3rem;
}

.column-left p {
  margin-bottom: 0rem;
  font-size: 1.5rem;
  line-height: 3.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1.3rem;
  border: none;
  color: #fff;
  background: #500000;
  cursor: pointer;
  border-radius: 25px;
}

button:hover {
  background: #fff;
  color: #000;
}

input {
  font-size: 18px;
}
.narrow-font {
  font-family: 'Open Sans Condensed', sans-serif;
}
.wide-font {
  font-family: 'Diplomata', cursive;
}
.set-width {
  width: 1000px;
}

.hero-image {
  width: 100%;
  height: 100%;
}



@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}
